:root {
	--black: #1C1C1C;
	--form: #EEEFF2;
	--grey: #969EAE;
	--violet: #780096;
	--violet-hover: #9200B7;
	--violet-active: #780096;
	--violet-disabled: rgba(120, 0, 150, 0.2);
}

@import "styles/default";
@import "styles/fonts";
@import "styles/card";
@import "styles/breadcrumb";
@import "styles/cart";
@import "styles/catalog";
@import "styles/contacts";
@import "styles/footer";
@import "styles/form-order";
@import "styles/goods";
@import "styles/header";
@import "styles/order";
@import "styles/product";
@import "styles/radio";



*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body {
	// font-family: 'Inter', sans-serif;
	font-family: 'Open Sans', sans-serif;
}

.footer {
	background-color: var(--black);
}