.catalog {
	overflow-x: hidden;
	padding-top: 24px;

	@media (min-width: 580px) {
		padding-top: 32px;
	}

	@media (min-width: 820px) {
		padding-top: 40px;
	}

	// .catalog__container

	&__container {
		padding: 0;
	}

	// .catalog__list

	&__list {
		overflow-x: auto;
		padding: 0 16px;
		display: flex;
		gap: 4px;

		@media (min-width: 580px) {
			padding: 0 29px;
		}

		@media (min-width: 820px) {
			padding: 0 43px;
		}

		@media (min-width: 1120px) {
			padding: 0 92px;
		}
	}

	// .catalog__item

	&__item {}

	// .catalog__link

	&__link {
		display: block;
		border-radius: 32px;
		background-color: var(--form);
		padding: 8px 14px 10px 14px;
		color: var(--grey);
		outline: none;
		border: 1px solid transparent;
		white-space: nowrap;

		&:hover,
		&:focus-visible {
			border-color: var(--violet);
		}

		&:active,
		&_active {
			color: #fff;
			background-color: var(--violet);
			border: 1px solid var(--violet);
		}

		&_active {
			pointer-events: none;
		}
	}
}