.header {
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom: 1px solid var(--form);

	// .header__container

	&__container {
		display: grid;
		justify-content: space-between;
		align-items: center;
		gap: 16px;
		grid-template-areas:
			"logo control"
			"search search";

		@media (min-width: 820px) {
			grid-template-areas: "logo search control";
			grid-template-columns: 94px 1fr auto;
			align-items: center;
		}
	}

	// .header__link-logo

	&__link-logo {
		grid-area: logo;
	}

	// .header__logo

	&__logo {
		width: 94px;
	}

	// .header__search

	&__search {
		grid-area: search;
		position: relative;
		width: 100%;
		height: 38px;

		@media (min-width: 820px) {
			justify-self: center;
			max-width: 408px;
		}

		@media (min-width: 1120px) {
			max-width: 514px;
		}
	}

	// .header__input

	&__input {
		width: 100%;
		height: 100%;
		padding: 0 40px 0 24px;
		border-radius: 32px;
		background-color: var(--form);
		border: none;


		&::placeholder {
			color: var(--grey);
		}

		&:focus-visible,
		&:hover {
			outline: 1px solid #DFE3EB;
		}


	}

	// .header__btn

	&__btn {
		position: absolute;
		top: 50%;
		right: 24px;
		transform: translateY(-50%);
		display: block;
		width: 16px;
		height: 16px;
		border-radius: 4px;
		outline-offset: 4px;
		outline: 1px solid transparent;

		&:hover,
		&:focus {
			color: var(--violet-hover)
		}

		&:focus-visible {
			color: var(--violet-hover);
			outline-color: var(--violet-hover);
		}
	}

	// .header__control

	&__control {
		grid-area: control;
		justify-self: end;
		display: flex;
		gap: 16px;
	}

	// .header__link

	&__link {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		gap: 4px;

		svg {
			color: #fff;
		}

		@media (min-width: 580px) {
			flex-direction: row;
		}

		&:hover,
		&:focus {
			color: var(--violet-hover);

			svg {
				color: var(--violet-hover);
			}
		}

		&:focus-visible {
			color: var(--violet-hover);
			outline-color: var(--violet-hover);
		}

		.header__link-cart {
			color: #000;
		}


	}

	// .header__link-text

	&__link-text {
		display: none;

		@media (min-width: 580px) {
			display: block;
		}
	}

	// .header__count

	&__count {}
}